---
const { children } = Astro.props;
---

<span class="badge">
  {children}
</span>

<style>
  .badge {
    background-color: #ff6347; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.25em 0.5em; /* Espaciado interno */
    border-radius: 0.25em; /* Bordes redondeados */
    font-size: 0.875em; /* Tamaño de fuente */
  }
</style>
